
@import "./node_modules/bootstrap/scss/bootstrap";

.area_wrap{
    display: flex;
    align-items: center;
    label{
        margin: 0 0 0 5px;
        padding: 0;
    }
}
.modal-dialog {
    max-width: 1020px;
}
